<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>我的报名</title>
<link rel="stylesheet" th:href="@{/css/session/reset.css}">
<link rel="stylesheet" th:href="@{/css/session/info.css}">
</head>
<body>
	<div class="wrap">
		<div class="header-wrap">
			<div class="content clearfix">
				<img th:src="@{/images/logo.png}" height="25" width="266" alt="" class="pull-left">
				<ul class="pull-left list">
					<li><a th:href="@{/examinee}">个人信息</a></li>
					<li><a th:href="@{/enrollment}" class="curr">我的报名</a></li>
					<li><a th:href="@{/myResult}">我的成绩</a></li>
					<li><a th:href="@{/session}">安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="content main-content">
			<p class="title">
				<img th:src="@{/images/editicon.jpg}" height="27" width="35" alt="">
				<span th:if="${enrollment!=null}">我的报名</span>
				<span th:if="${enrollment==null}">我要报名</span>
			</p>
			<form th:if="${exam!=null && enrollment==null}" th:action="@{/enrollment}" method="post">
				<div class="item">
					<input type="hidden" name="exam_id" th:value="${exam.id}" />
					<input type="hidden" name="examinee_id" th:value="${session.examinee.id}" />
					<span>考试名称：</span>
					<input type="text" th:value="${exam.title}" readonly />
				</div>
				<div class="item">
					<span>考试时间：</span>
					<input type="text" th:value="${#calendars.format(exam.startAt,'yyyy-MM-dd HH:mm:ss')}" readonly />
				</div>
				<div class="item">
					<span>结束时间：</span>
					<input type="text" th:value="${#calendars.format(exam.endAt,'yyyy-MM-dd HH:mm:ss')}" readonly />
				</div>
				<div class="item">
					<span>考 场：</span> <input type="text" />
				</div>
				<button type="submit" class="btn">报名</button>
			</form>
			<span th:if="${exam==null}">考试暂未开始报名</span>
			<div th:if="${enrollment!=null}">
				<div class="item">
					<span>考试名称：</span>
					<input type="text" th:value="${exam.title}" readonly />
				</div>
				<div class="item">
					<span>考试时间：</span>
					<input type="text" th:value="${#calendars.format(exam.startAt,'yyyy-MM-dd HH:mm:ss')}" readonly />
				</div>
				<div class="item">
					<span>结束时间：</span>
					<input type="text" th:value="${#calendars.format(exam.endAt,'yyyy-MM-dd HH:mm:ss')}" readonly />
				</div>
				<div class="item">
					<span>所在考场：</span> <input type="text" readonly />
				</div>
				<div class="item">
					<span>报名状态：</span>
					<input type="text" th:value="${enrollment.status.desc}" readonly />
				</div>
				<div class="item" th:if="${'UN_PASSED' eq #strings.toString(enrollment.status)}">
					<span>不通过原因：</span>
					<input type="text" th:value="${enrollment.unPassedReason}" readonly />
				</div>
				<span th:if="${exam==null}">考试暂未开始报名</span>
			</div>
		</div>
		<div class="footer">
			<p>
				Copyright © 2016-2017 武汉华大国家数字化学习工程技术有限公司 All rights reserved.<img th:src="@{/images/ghs.png}" alt="">鄂公网安备 42018502000888号&nbsp;&nbsp;鄂ICP备16017888号
			</p>
		</div>
	</div>
<script th:src="@{/js/lib/jquery-3.2.0.min.js}"></script>
<script th:src="@{/js/lib/rails.js}"></script>
</body>
</html>
