<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>考试查询</title>

<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/layui/css/layui.css}" />
<link rel="stylesheet" th:href="@{/css/session/reset.css}">
<link rel="stylesheet" th:href="@{/css/session/style.css}" />


</head>
<style type="text/css">
	body {
		background: #fff url('');
	}
</style>
<body>
	<div class="wrap">
		<div class="pull-left siderbar">
			<div class="bar-title">
				<p class="title">
					音乐考试系统<span>V1.0</span>
				</p>
			</div>
			<div class="user">
				<img th:src="@{/images/userImg.png}" height="121" width="121"
					alt="">
				<p class="username">
					<input type="text" id="login" class="input-text" th:value="${session.examinee.person.name}" disabled="disabled" />
				</p>
				<a class="exit" th:href="@{/session}">退出登录</a>
			</div>
			<ul class="siderbar-list">
				<li><a th:href="@{/examinee}">个人信息</a></li>
				<li><a th:href="@{/enrollment}">考试报名</a></li>
				<li><a th:href="@{/examInforExaminee}" class="curr">考试查询</a></li>
				<li><a th:href="@{/result}">成绩查询</a></li>
			</ul>
		</div>
		<div class=" pull-left main-content">
			<div class="content-item">
				<p class="title">考试查询</p>
				<table class="layui-table" lay-skin="line">
					<colgroup>
						<col width="80">
						<col width="150">
						<col width="150">
						<col width="80">
						<col width="150">
						<col width="200">
						<col width="150">
						<col width="">
						<col width="150">
						<col>
					</colgroup>
					<thead>
						<tr>
							<th>考生姓名</th>
							<th>考号</th>
							<th>身份证</th>
							<th>参加考试</th>
							<th>考试时间</th>
							<th>报名时间</th>
							<th>审核状态</th>
							<th>考点</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${enrollment!=null}">
							<td th:text="${session.examinee.person.name}"></td>
							<td th:text="${session.examinee.examNo}"></td>
							<td th:text="${session.examinee.idcard}"></td>
							<td th:text="${exam.title}"></td>
							<td th:text="${#calendars.format(exam.startAt,'yyyy-MM-dd HH:mm:ss')} +'~'+${#calendars.format(exam.endAt,'yyyy-MM-dd HH:mm:ss')}"></td>
							<td th:text="${#calendars.format(enrollment.creatAt,'yyyy-MM-dd HH:mm:ss')}"></td>
							<td th:text="${enrollment.status.desc}"></td>
							<td th:text="${examPointRoom}"></td>
						</tr>
						<tr th:if="${enrollment==null}">
							<td>暂无数据</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<script th:src="@{/js/lib/jquery-3.2.0.min.js}"></script>
<script th:src="@{/js/lib/layui.js}"></script>
<script th:src="@{/js/lib/rails.js}"></script>
<script th:src="@{/js/modules/content.js}"></script>
</body>
</html>
