<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>考生管理</title>
</head>
<body>
	<div layout:fragment="content">
		<div class=" pull-left main-content">
			<div class="content-item">
				<p class="title">考生管理&nbsp;&nbsp;&nbsp;&nbsp;<a class="layui-btn layui-btn-small del-btn" th:href="@{/examinee/groups}">考生分组</a></p>
				<form class="layui-form search-form" th:action="@{/examinees}">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">姓名：</label>
							<div class="layui-input-inline">
								<input type="tel" name="name" th:value="${name}" lay-verify="name" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">身份证：</label>
							<div class="layui-input-inline idcard">
								<input type="text" name="idcard" th:value="${idcard}" lay-verify="idcard" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">准考证：</label>
							<div class="layui-input-inline">
								<input type="text" name="exam_no" th:value="${examNo}" lay-verify="exam_no" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">电话：</label>
							<div class="layui-input-inline">
								<input type="text" name="phone" th:value="${phone}" lay-verify="phone" autocomplete="off" class="layui-input" onkeyup="this.value=this.value.replace(/\D/g,'')">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">学校：</label>
							<div class="layui-input-inline">
								<input type="text" name="school" th:value="${school}" lay-verify="school" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">邮箱：</label>
							<div class="layui-input-inline">
								<input type="text" name="email" th:value="${email}" lay-verify="email" autocomplete="off" class="layui-input">
							</div>
						</div>
						<button class="btn" type="submit">查询</button>
					</div>
				</form>
				<a id="reason" style="visibility: hidden;" th:text="${groups}"></a>
				<table class="layui-table" lay-skin="line">
					<colgroup>
						<col width="120">
						<col width="150">
						<col width="150">
						<col width="80">
						<col width="150">
						<col width="200">
						<col width="">
						<col width="150">
						<col width="150">
						<col width="150">
					</colgroup>
					<thead>
						<tr>
							<th>姓名</th>
							<th>身份证</th>
							<th>准考证</th>
							<th>电话</th>
							<th>学校</th>
							<th>邮箱</th>
							<th>年龄</th>
							<th>性别</th>
							<th>所在分组</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${examinees!=null}" th:each="examinee : ${examinees}">
							<td th:text="${examinee.person.name}"></td>
							<td th:text="${examinee.idcard}"></td>
							<td th:text="${examinee.examNo}"></td>
							<td th:text="${examinee.person.phone}"></td>
							<td th:text="${examinee.school}"></td>
							<td th:text="${examinee.person.email}"></td>
							<td th:text="${examinee.person.age}"></td>
							<td th:text="${examinee.person.gender.desc}"></td>
							<td th:if="${examinee.group!=null}" th:text="${examinee.group.title}"></td>
							<td th:if="${examinee.group==null}"></td>
							<td>
								<a class="layui-btn layui-btn-small" th:href="@{'/examinee/'+${examinee.id}}">编辑</a>
								<a style=display:none class="layui-btn layui-btn-small del-btn" th:href="@{'/examinee/delete/'+${examinee.id}}">删除</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(examinees)}">
							<td colspan="10" th:text="暂无数据"></td>
						</tr>
					</tbody>
				</table>
				<div th:include="page :: pager(${examinees})" th:remove="tag"></div>
			</div>
		</div>
	</div>
</body>
</html>