<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>考生分组</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="pull-left main-content">
			<div class="content-item">
				<p class="title"><a class="goback" title="返回" href="javascript:history.back();" ></a>考生分组&nbsp;&nbsp;&nbsp;&nbsp;<a class="layui-btn layui-btn-small del-btn" th:href="@{/examinee/group}">添加分组</a></p>
				<form class="layui-form search-form" th:action="@{/examinee/groups}">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">年度：</label>
							<div class="layui-input-inline">
								<select class="form-control" id="year">
									<option th:each="i:${#numbers.sequence(currentYear-3,currentYear)}" th:value="${i}" th:text="${i}" th:selected="${i==currentYear}"></option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">考试：</label>
							<div class="layui-input-inline">
								<select name="exam_id" class="form-control" id="exam_id">
									<option th:each="exam : ${exams}" th:value="${exam.id}" th:text="${exam.title}"></option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">考场号：</label>
							<div class="layui-input-inline">
								<input type="text" name="exam_room" th:value="${examRoom}" lay-verify="exam_room" autocomplete="off" class="layui-input">
							</div>
						</div>
						<button class="btn" type="submit">查询</button>
					</div>
				</form>
				<table class="layui-table" lay-skin="line">
					<colgroup>
						<col>
						<col>
						<col>
						<col>
					</colgroup>
					<thead>
						<tr>
							<th>序号</th>
							<th>分组名称</th>
							<th>所属考试</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${groups!=null}" th:each="group : ${groups}" th:data-id="${group.id}">
							<td th:text="${groupStat.index+1}"></td>
							<td th:text="${group.title}"></td>
							<td th:if="${group.exam != null}" th:text="${group.exam.title}"></td>
							<td th:if="${group.exam == null}"></td>
							<td><button class="analyze-btn layui-btn layui-btn-small"  data-toggle="modal" data-target="#modal">设置考生</button></td>
						</tr>
						<tr th:if="${#lists.isEmpty(groups)}">
							<td colspan="4">暂无数据</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width:70%">
					<div class="modal-content">
						<div class="modal-header" >
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
							<h4 class="modal-title" id="myModalLabel">
								设置考生
							</h4>
						</div>
						<div class="modal-body">
						</div> 
						<div class="modal-footer" data-id>
							<button type="button" class="btn btn-primary" id="setgroup">确定</button>
							<button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
						</div>
						<div id="hidden"></div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
				<script th:src="@{/js/modules/groups.js}"></script>
				<script th:src="@{/js/modules/exam.js}"></script>
			</div>

		</div>
	</div>
</body>
</html>