<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>添加分组</title>
</head>
<body>
	<div layout:fragment="content">
		<div class=" pull-left main-content">
			<div class="content-item">
				<p class="title"><a class="goback" title="返回" href="javascript:history.back();" ></a>添加分组</p>
				<form class="layui-form" th:action="@{/examinee/group}" method="post" id="examinee_form">
					<div class="content">
						<div class="layui-form-item">
							<label class="layui-form-label">名称：</label>
							<div class="layui-input-block">
								<input type="text" name="title" lay-verify="title" autocomplete="off" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">所属考试：</label>
							<div class="layui-input-block">
								<select name="examId" class="form-control" id="exam_id">
									<option th:each="exam : ${exams}" th:value="${exam.id}" th:text="${exam.title}"></option>
								</select>
							</div>
						</div>
						<button type="submit" class="edit btn">添加</button>
						<a th:href ="@{/examinee/groups}" class="edit btn">返回</a>
						<div class="error-msg" th:text="${warning}"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>