<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>个人信息</title>
<link rel="stylesheet" th:href="@{/css/session/reset.css}">
<link rel="stylesheet" th:href="@{/css/session/info.css}">
</head>
<body>
	<div class="wrap">
		<div class="header-wrap">
			<div class="content clearfix">
				<img th:src="@{/images/logo.png}" height="25" width="266" alt=""
					class="pull-left">
				<ul class="pull-left list">
					<li><a th:href="@{/examinee}" class="curr">个人信息</a></li>
					<li><a th:href="@{/enrollment}">我的报名</a></li>
					<li><a th:href="@{/myResult}">我的成绩</a></li>
					<li><a th:href="@{/session}" data-method="delete">安全退出</a></li>
				</ul>
			</div>
		</div>

		<div class="content main-content clearfix">
			<p class="title">
				<img th:src="@{/images/editicon.jpg}" height="27" width="35" alt="">我的信息
			</p>
			<div class="pull-left clearfix student-img">
				<img th:src="@{'/examinee/'+${session.examinee.id}+'/photo'}" height="173" width="130" alt="" class="" />
			</div>
			<div class="pull-left clearfix info-content">
				<p>
					<span>姓名：</span><span th:text="${session.examinee.person.name}"></span>
				</p>
				<p>
					<span>性别：</span><span th:text="${session.examinee.person.gender.desc}"></span>
				</p>
				<p>
					<span>年龄：</span><span th:text="${session.examinee.person.age}"></span>
				</p>
				<p>
					<span>身份证：</span><span th:text="${session.examinee.idcard}"></span>
				</p>
				<p>
					<span>电话：</span><span th:text="${session.examinee.person.phone}"></span>
				</p>
				<p>
					<span>邮箱：</span><span th:text="${session.examinee.person.email}"></span>
				</p>
				<p>
					<span>学校：</span><span th:text="${session.examinee.school}"></span>
				</p>
			</div>
		</div>

		<div class="footer">
			<p>Copyright © 2017 武汉华大国家数字化学习工程技术有限公司All rights reserved.<img th:src="@{/images/ghs.png}" alt="">鄂公网安备 42018502000888号&nbsp;&nbsp;鄂ICP备16017888号</p>
		</div>
	</div>
<script th:src="@{/js/lib/jquery-3.2.0.min.js}"></script>
<script th:src="@{/js/lib/rails.js}"></script>
</body>
</html>


