<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/top">
	<div th:fragment="menuer">
		<div class="pull-left siderbar">
			<div class="bar-title">
				<p class="title">
					音乐考试系统
				</p>
			</div>
			<div class="user">
				<img th:src="@{/images/userImg.png}" height="121" width="121" alt="">
				<p class="username" th:text="${session.manager.code}">管理员</p>
				<a class="exit" th:href="@{/session}" data-method="delete" title="安全退出">退出登录</a>
			</div>
			<ul class="siderbar-list">
				<li><a th:href="@{/exams}" th:class="${(#strings.contains(#httpServletRequest.getServletPath(),'exam') || #strings.contains(#httpServletRequest.getServletPath(),'exam_paper') || #strings.contains(#httpServletRequest.getServletPath(),'exam_point') || #strings.contains(#httpServletRequest.getServletPath(),'exam_room')) && not #strings.contains(#httpServletRequest.getServletPath(),'examinee') && not #strings.contains(#httpServletRequest.getServletPath(),'exam_question') && not #strings.contains(#httpServletRequest.getServletPath(),'stat')} ? 'curr' : 'exams'">考试管理</a></li>
				<li><a th:href="@{/exam_questions?type=3}" th:class="${#strings.contains(#httpServletRequest.getServletPath(),'exam_question') && not #strings.contains(#httpServletRequest.getServletPath(),'paper')} ? 'curr' : 'exam_questions'">题库管理</a></li>
				<li><a th:href="@{/examinees}" th:class=" ${#strings.contains(#httpServletRequest.getServletPath(),'examinee') && not #strings.contains(#httpServletRequest.getServletPath(),'examinee_stat')} ? 'curr' : 'examinees'">考生管理</a></li>
				<li><a th:href="@{/experts}" th:class="${#strings.contains(#httpServletRequest.getServletPath(),'expert') && not #strings.contains(#httpServletRequest.getServletPath(),'expert_result')} ? 'curr' : 'experts'">专家管理</a></li>
				<li><a th:href="@{/enrollments}" th:class="${#strings.contains(#httpServletRequest.getServletPath(),'enrollment')} ? 'curr' : 'enrollments'">报名管理</a></li>
				<!-- <li><a th:href="@{/exam_points}" th:class="${#strings.contains(#httpServletRequest.getServletPath(),'exam_point') || #strings.contains(#httpServletRequest.getServletPath(),'exam_room')} ? 'curr' : 'exam_points'">考场管理</a></li> -->
				<!-- <li><a th:href="@{/exam_papers}" th:class="${#strings.contains(#httpServletRequest.getServletPath(),'exam_paper') && not #strings.contains(#httpServletRequest.getServletPath(),'stat')} ? 'curr' : 'exam_papers'">考卷管理</a></li> -->
				<li><a th:href="@{/answer_records}" class="" th:class="${#strings.contains(#httpServletRequest.getServletPath(),'answer_record')} ? 'curr' : 'answer_records'">答题管理</a></li>
				<li><a th:href="@{/expert_results}" th:class="${#strings.contains(#httpServletRequest.getServletPath(),'expert_result') || #strings.contains(#httpServletRequest.getServletPath(),'big_deviation_results') || #strings.contains(#httpServletRequest.getServletPath(),'difference_results')} ? 'curr' : 'expert_results'">专家评分</a></li>
				<li><a th:href="@{/results}" th:class="${#strings.contains(#httpServletRequest.getServletPath(),'result') && not #strings.contains(#httpServletRequest.getServletPath(),'expert_result') && not #strings.contains(#httpServletRequest.getServletPath(),'big_deviation_results') && not #strings.contains(#httpServletRequest.getServletPath(),'difference_results')} ? 'curr' : 'results'">成绩管理</a></li>
				<li><a th:href="@{/exam_stat}" th:class="${#strings.contains(#httpServletRequest.getServletPath(),'stat')} ? 'curr' : 'stat'">统计分析</a></li>
			</ul>
		</div>
	</div>
</html>