<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>用户登录</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script th:src="@{/js/lib/jquery-3.2.0.min.js}"></script>
<script th:src="@{/js/lib/jquery.validate.min.js}"></script>
<script th:src="@{/js/lib/bootstrap.min.js}"></script>
<script th:src="@{/js/modules/session.js}"></script>
<script th:src="@{/js/formCheck/formCheck.js}"></script>
<link rel="stylesheet" th:href="@{/css/session/reset.css}">
<link rel="stylesheet" th:href="@{/css/session/style.css}">
<style type="text/css">
	body {
		background: url(/images/bg2.jpg) no-repeat #1B110F; 
	}
</style>
<body>
	<div class="wrap-login">
		<div class="login">
			<img th:src="@{/images/boxTop.png}" height="114" width="631" alt="" />
			<form th:action="@{/session}" method="post" id="session_form">
				<div class="content-wrap">
					<div class="content">
						<p class="title">用户登录</p>
						<div class="item">
							<span class="session-span">用户名：</span> 
							<input type="text" id="login" name="login" placeholder="用户名" />
						</div>
						<div class="item">
							<span class="session-span">密码：</span>
							<input type="password" id="password" name="password" autoComplete="off" placeholder="密码" />
						</div>
						<div class="item">
							<span class="session-span">验证码：</span>
							<input type="text" name="checkcode" placeholder="验证码" id="code" />
							<a href="javascript:void(0);" class="code"><img class="img" id="codeImg" th:src="@{/code}" /></a>
						</div>
						<button type="submit" class="btn">登&nbsp;&nbsp;录</button>
						<div class="link">
							<a th:href="@{/user/find_password}">忘记密码</a><a th:href="@{/register}">考生注册</a>
						</div>
						<div class="error-msg" th:text="${warning}"></div>
						<div class="error-msg" th:text="${message}"></div>
					</div>
				</div>
			</form>
			<img th:src="@{/images/boxBottom.png}" height="126" width="631" alt="" />
		</div>
	</div>
</body>
</html>
