<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>考点管理</title>
</head>
<body>
	<div layout:fragment="content">
		<div class=" pull-left main-content">
			<div class="content-item">
				<p class="title"><a class="goback" title="返回" href="javascript:history.back();" ></a>考点管理&nbsp;&nbsp;&nbsp;&nbsp;<a class="layui-btn layui-btn-small del-btn" th:href="@{/exam_point}">添加考点</a></p>
				<form class="layui-form search-form" th:action="@{/exam_points}">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">考点：</label>
							<div class="layui-input-inline">
								<input type="text" name="name"  lay-verify="name" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">地址：</label>
							<div class="layui-input-inline">
								<input type="text" name="address"  lay-verify="address" autocomplete="off" class="layui-input">
							</div>
						</div>
						<button class="btn" type="submit">查询</button>
					</div>
				</form>
				<table class="layui-table" lay-skin="line">
					<colgroup>
						<col width="100">
						<col width="100">
						<col width="200">
						<col width="200">
					</colgroup>
					<thead>
						<tr>
							<th>考点</th>
							<th>地址</th>
							<th>考场</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${examPoints!=null}" th:each="examPoint : ${examPoints}">
							<td th:text="${examPoint.name}"></td>
							<td th:text="${examPoint.address}"></td>
							<td>
								<p th:each="examRoom : ${rooms['__${examPoint.id}__']}" th:text="${examRoom.title}"></p>
							</td>
							<td>
								<a class="layui-btn layui-btn-small" th:href="@{'/exam_point/'+${examPoint.id}}">编辑</a>
								<!-- <a class="layui-btn layui-btn-small" th:href="@{'/exam_rooms/'+${examPoint.id}}">查看考场</a> -->
								<a class="layui-btn layui-btn-small" th:href="@{'/exam_rooms/'+${examPoint.id}}">考场管理</a>
								<button style=visibility:hidden class="layui-btn layui-btn-small del-btn" th:href="@{'/exam_point/delete/'+${examPoint.id}}" >删除</button>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(examPoints)}">
							<td colspan="3">暂无数据</td>
						</tr>
					</tbody>
				</table>
				<div th:include="page :: pager(${examPoints})" th:remove="tag"></div>
			</div>
		</div>
	</div>
</body>
</html>