<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/pagination.css}" />
	<link rel="stylesheet" th:href="@{/css/layui/css/layui.css}" />
	<link rel="stylesheet" th:href="@{/css/session/reset.css}">
	<link rel="stylesheet" th:href="@{/css/session/style.css}" />
	<script th:src="@{/js/lib/jquery-3.2.0.min.js}"></script>
	<script th:src="@{/css/layui/layui.js}"></script>
	<script th:src="@{/js/modules/content.js}"></script>
</head>
<body>
	<div th:fragment="menunav">
		<div th:include="menu :: menuer" th:remove="tag"></div>
	</div>
	<div layout:fragment="content" onload="onload();" class="wrap clearfix">
	</div>
	<div th:fragment="foot" class="footer clearfix">
		<div th:include="footer :: footer" th:remove="tag"></div>
	</div>

	<script th:src="@{/js/lib/bootstrap.min.js}"></script>
	<script th:src="@{/js/lib/rails.js}"></script>
</body>
</html>