<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/page">
	<div th:fragment="pager(datas)" th:remove="tag">
		<div th:with="url=${T(com.nercl.music.util.page.PaginateUtil).getInstance().getPaginatePath(#httpServletRequest)},total=${datas.total},pageSize=${datas.pageSize},pages=${total%pageSize eq 0 ? total/pageSize : (total/pageSize) + 1},currentPage=${datas.page}">
			<ul class="pagination" th:if="${(total > 0)&&(pages != 1)&&(currentPage <= pages)}">
				<li th:if="${currentPage > 1}"><a th:if="${currentPage > 1}" th:href="@{${url}(page = ${currentPage - 1})}" th:text="上一页" class="n-page"></a></li>
				<li th:if="${currentPage != 1}"><a th:if="${currentPage != 1}" th:href="@{${url}(page = 1)}" class="number" th:text="1"></a></li>
				<li th:if="${currentPage - 2 > 2}"><span th:if="${currentPage - 2 > 2}">…</span></li>
				<li th:if="${currentPage - 2 > 1}"><a th:if="${currentPage - 2 > 1}" th:href="@{${url}(page = ${currentPage - 2})}" class="number" th:text="${currentPage - 2}"></a></li>
				<li th:if="${currentPage - 1 > 1}"><a th:if="${currentPage - 1 > 1}" th:href="@{${url}(page = ${currentPage - 1})}" class="number" th:text="${currentPage - 1}"></a></li>
				<li class="active"><a th:href="@{${url}(page = ${currentPage})}" class="number current" th:text="${currentPage}"></a></li>
				<li th:if="${currentPage + 1 < pages}"><a th:if="${currentPage + 1 < pages}" th:href="@{${url}(page = ${currentPage + 1})}" class="number" th:text="${currentPage + 1}"></a></li>
				<li th:if="${currentPage + 2 < pages}"><a th:if="${currentPage + 2 < pages}" th:href="@{${url}(page = ${currentPage + 2})}" class="number" th:text="${currentPage + 2}"></a></li>
				<li th:if="${currentPage + 2 < pages - 1}"><span th:if="${currentPage + 2 < pages - 1}">…</span></li>
				<li th:if="${currentPage < pages}"><a th:if="${currentPage < pages}" th:href="@{${url}(page = ${pages})}" class="number" th:text="${pages}"></a></li>
				<li th:if="${currentPage != pages}"><a th:if="${currentPage != pages}" th:href="@{${url}(page = ${currentPage + 1})}" th:text="下一页" class="n-page"></a></li>
				<li><span class="sum" th:text="共有+${total}+条"></span></li>
			</ul>
		</div>
	</div>
</html>