<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>出错啦</title>
<link rel="stylesheet" th:href="@{/css/session/reset.css}">
<link rel="stylesheet" th:href="@{/css/session/info.css}">
</head>
<body>
	<div class="wrap">
		<div class="content main-content" id="error-wrap">
			<img th:src="@{/images/500.png}" height="200" width="200" alt="">
			<p>服务器出错啦，试着刷新或者返回吧</p>
			<p>
				<a href="#" onclick="javascript:history.back(-1);">返回</a>
			</p>
		</div>
	</div>
</body>
</html>
