<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>题库管理</title>

</head>
<body>
	<div layout:fragment="content">
		<div class=" pull-left main-content">
			<div class="content-item">
				<p class="title"><a class="goback" title="返回" href="javascript:history.back();" ></a>题库管理</p>
				<form class="layui-form search-form" th:action="@{/exam_questions}">
					<div class="layui-form-item">
						<div class="layui-inline input-radio">
							<label class="layui-form-label">题型：</label>
							<input type="radio" name="type" value="1" title="单选题" id="1" />
							<input type="radio" name="type" value="2" id="2" title="多选题"/>
							<input type="radio" name="type" value="3" id="3" title="简答题" />
							<input type="radio" name="type" value="4" id="4" title="视唱题"/>

						</div>
						<div class="layui-inline">
							<label class="layui-form-label">难度系数：</label>
							<div class="layui-input-inline">
								<input type="text"  name="difficulty" th:value="${difficulty}" lay-verify="difficulty" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">审核状态：</label>
							<div class="layui-input-inline">
								<select name = "status">
									<option value="ALL">全部</option>
									<option value="FOR_CHECKED">待审核</option>
									<option value="PASSED">已通过</option>
									<option value="UN_PASSED">未通过</option>
								</select>
							</div>
						</div>
						<button class="btn" id="difficulty" type="submit">查询</button>
					</div>
				</form>
				<a id="reason" th:text="${unPassReasons}" style="display:none;"></a>
				<table class="layui-table clearfix layui-form" lay-skin="line" id="container">
 					<colgroup>
						<col width="70">
						<col width="75">
						<col width="">
						<col width="100">
						<col width="100">
						<col width="100">
						<col width="90">
						<col width="100">
						<col width="250">
					</colgroup> 
					<thead>
						<tr>
							<th>选项</th>
							<th>题型</th>
							<th>题干</th>
							<th th:text="${type==1 || type==2 ? '选项' : '五线谱'}"></th>
							<th>难度系数</th>
							<th>标准答案</th>
							<th>审核状态</th>
							<th>驳回原因</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="content">
						<tr th:if="${questions!=null}" th:each="question : ${questions}" th:data-id="${question.id}">
							<td> <input type="checkbox" name="" lay-skin="primary" title=""></td>
							<td th:text="${question.questionType==1 ? '单选题': question.questionType==2 ? '多选题':question.questionType==3 ? '简答题':'视唱题'}"></td>
							<td th:text="${question.title2}"></td>
							<td th:class="answers-img">
								<p th:each="option : ${question.options}" th:if="${(type==1||type==2) && option.content2 != null}" th:text="${option.content2}"></p>
								<img th:each="option : ${question.options}" th:if="${(type==1||type==2) && option.xmlPath2 != null}" th:src="@{'/staff_img?xml_path='+${option.xmlPath2}}" title="点击查看大图"/>
								<img th:if="${(type==3||type==4) && question.xmlPath2 != null && null!=question.getHasStaff() && question.getHasStaff()}" th:src="@{'/staff_img?xml_path='+${question.xmlPath2}}" title="点击查看大图"/>
							</td>
							<td th:text="${question.difficulty}"></td>
							<td th:class="answers-img">
								<p th:each="option : ${question.options}" th:if="${(type==1||type==2) && option.content2 != null && option.isTrue()}" th:text="${option.content2}"></p>
								<img th:each="option : ${question.options}" th:if="${(type==1||type==2) && option.xmlPath2 != null && option.isTrue()}" th:src="@{'/staff_img?xml_path='+${option.xmlPath2}}" title="点击查看大图"/>
								<span th:if="${type==3 && question.answer != null && question.answer.content2 != null}" th:text="${question.answer.content2}"></span>
								<img th:if="${type==3 && question.answer != null && question.answer.content2 == null && question.answer.xmlPath2 != null}" th:src="@{'/staff_img?xml_path='+${question.answer.xmlPath2}}" title="点击查看大图"/>
							</td>
							<td>
								<span th:text ="${question.checkStatus != null ? question.checkStatus.desc : ''}"></span>
							</td>
							<td>
								<span th:text ="${question.checkStatus != null && 'UN_PASSED' eq #strings.toString(question.checkStatus) ? question.unPassReason : ''}"></span>
							</td>
							<td>
								<a class="layui-btn layui-btn-small pass"  th:if="${'FOR_CHECKED' eq #strings.toString(question.checkStatus)}" href="javascript:void(0)">通过</a>
								<a class="layui-btn layui-btn-small unpass"  th:if="${'FOR_CHECKED' eq #strings.toString(question.checkStatus)}" href="javascript:void(0)"  data-toggle="modal" data-target="reject-modal">驳回</a>
								<a class="layui-btn layui-btn-small record-btn"  data-toggle="recordmodal" data-target="reject-modal">审核记录</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(questions)}">
							<td colspan="9" th:text="暂无数据"></td>
						</tr>
					</tbody> 
				</table>
									
					<!-- 驳回（Modal） -->
					<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
									</button>
									<h4 class="modal-title" id="myModalLabel">
										驳回理由
									</h4>
								</div>						
								<div class="modal-body">
									<textarea class='layui-textarea' placeholder="请输入驳回理由"></textarea>
									<span class="tip-span">也可以勾选下列驳回理由，可多选</span>
									<div id="reason-body">
									</div>				
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary">确定</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal -->
					</div>
					
					<!-- 审核记录（Modal） -->
					<div class="modal fade" id="recordmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog"  style="width:70%;">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
									</button>
									<h4 class="modal-title">
										审核记录
									</h4>
								</div>
								<div class="modal-body">
								
								<table class="layui-table">
									<thead>
										<tr>
											<th>审核人</th>
											<th>审核时间</th>
											<th>审核人邮箱</th>
											<th>驳回理由</th>
											<th>审核状态</th>
										</tr>
									</thead>
									<tbody id="lists">
										<script type="text/html" id="checkrecords">
											
											{{if list.length==0}}
											<tr>
												<td colspan="5">无审核记录</td>
											</tr>
											{{/if}}
											{{if list.length>0}}
											{{each list as item}}
											<tr>		
												<td>{{item.name}}</td>
												<td>{{item.time | dateFmt}}</td>
												<td>{{item.email}}</td>
												<td>{{item.un_pass_reason}}</td>
												<td>{{item.status}}</td>
											</tr>
											{{/each}}
											{{/if}}

										</script>
									
									</tbody>
								</table>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal -->
					</div>
					<div class="mt20 pull-left" style="margin-right:30px;">
						<button class="btn blur" id="all-check">全部选中</button>
						<button class="btn blur" id="pass-all">批量通过</button>
						<button class="btn blur" id="unpass-all" data-toggle="modal" data-target="modal">批量驳回</button>
					</div>
				<div th:include="page :: pager(${questions})" th:remove="tag"></div>
				<script th:src="@{/js/lib/template-web.js}"></script>
				<script th:src="@{/js/lib/jquery.museum.js}"></script>
				<script th:src="@{/js/modules/exam_questions.js}"></script>
			</div>

		</div>

	</div>

</body>
</html>