<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>考生分组</title>
</head>
<body>
	<table class="layui-table" lay-skin="line">
		<colgroup>
			<col width="">
			<col width="">
			<col width="200">
		</colgroup>
		<thead>
			<tr>
				<th>选项</th>
				<th>序号</th>
				<th>分组名称</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${groups!=null}" th:each="group : ${groups}" th:data-id="${group.id}">
				<td><input type="checkbox" /></td>
				<td th:text="${groupStat.index+1}"></td>
				<td th:text="${group.title}"></td>
			</tr>
			<tr th:if="${#lists.isEmpty(groups)}">
				<td colspan="3">暂无数据</td>
			</tr>
		</tbody>
	</table>
	<div class="mt20 pull-left" style="margin-right:30px;">
		<button class="btn blur" id="all-check">全部选中</button>
	</div>

</body>
</html>