<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>专家管理</title>
</head>
<body>
	<table class="layui-table" lay-skin="line">
		<colgroup>
			<col width="20">
			<col width="100">
			<col width="100">
			<col width="200">
			<col width="200">
			<col width="200">
			<col width="200">
		</colgroup>
		<thead>
			<tr>
				<th>选项</th>
				<th>姓名</th>
				<th>职称</th>
				<th>电话</th>
				<th>邮箱</th>
				<th>单位</th>
				<th>所在分组</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${experts!=null}" th:each="expert : ${experts}" th:data-id="${expert.id}">
				<td><input type="checkbox" /></td>
				<td th:text="${expert.person.name}"></td>
				<td th:text="${expert.jobTitle}"></td>
				<td th:text="${expert.person.phone}"></td>
				<td th:text="${expert.person.email}"></td>
				<td th:text="${expert.unit}"></td>
				<td th:if="${expert.group!=null}" th:text="${expert.group.title}"></td>
				<td th:if="${expert.group==null}"></td>
			</tr>
			<tr th:if="${#lists.isEmpty(experts)}">
				<td colspan="6">暂无数据</td>
			</tr>
		</tbody>
	</table>
	<div class="mt20 pull-left" style="margin-right:30px;">
		<button class="btn blur" id="all-check">全部选中</button>
	</div>
	<div th:include="page :: pager(${experts})" th:remove="tag"></div>
</body>
</html>