<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>自动组卷</title>
</head>
<body>
	<div layout:fragment="content">
		<div class=" pull-left main-content">
			<div class="content-item">
				<p class="title"><a class="goback" title="返回" href="javascript:history.back();" ></a>自动组卷</p>
				<form th:action="@{/exam_paper/auto}" method="post">
					<div class="content">
						<div class="layui-form-item">
							<label class="layui-form-label">考卷名称：</label>
							<div class="layui-input-block">
								<input type="text" name="title" class="layui-input" id="exam-title" />
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">考卷分数：</label>
							<div class="layui-input-block">
								<input type="text" name="totalScore" class="layui-input" id="exam-score" onkeyup="this.value=this.value.replace(/\D/g,'')" />
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">答题时间：</label>
							<div class="layui-input-block">
								<input type="text" name="resolvedTime" class="layui-input wh150" id="exam-score" />秒
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">考卷类型：</label>
							<div class="layui-input-block input-radio" id="exam-type" >
								<input type="radio" name="subjectType" value="1" id="1" />
								<label for="1">乐理题考卷</label>
								<input type="radio" name="subjectType" value="2" id="2" />
								<label for="2">视唱题考卷</label>
								<input type="radio" name="subjectType" value="3" id="3" />
								<label for="3">听音题考卷</label>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">试题类型：</label>
							<div class="layui-input-block input-radio">
								<button type="button"  data-id="1" class="gray-btn"  data-toggle="modal" data-target="#Modal">单选题</button>
								<button type="button" data-id="2" class="gray-btn"  data-toggle="modal" data-target="#Modal">多选题</button>
								<button type="button"  data-id="3" class="gray-btn"  data-toggle="modal" data-target="#Modal">简答题</button>
								<button type="button" data-id="4" class="gray-btn"  data-toggle="modal" data-target="#Modal">视唱题</button>
							</div>
						</div>
						<div id="hidden">
							<div data-id="1" data-title="单选题">
								<input type="hidden" name="singleTotalScore" data-title="总分" />
								<input type="hidden" name="singleNum" data-title="小题数" />
								<input type="hidden" name="singleScore" data-title="小题分数" />
								<input type="hidden" name="singleNo" data-title="考试范围" />
							</div>
							<div data-id="2" data-title="多选题">
								<input type="hidden" name="multiTotalScore" data-title="总分" />
								<input type="hidden" name="multiNum"  data-title="小题数" />
								<input type="hidden" name="multiScore" data-title="小题分数" />
								<input type="hidden" name="multiNo" data-title="考试范围" />
							</div>
							<div data-id="3" data-title="简答题">
								<input type="hidden" name="shortTotalScore" data-title="总分" />
								<input type="hidden" name="shortNum" data-title="小题数" />
								<input type="hidden" name="shortScore" data-title="小题分数" />
								<input type="hidden" name="shortNo" data-title="考试范围" />
							</div>
							<div data-id="4" data-title="视唱题">
								<input type="hidden" name="lookSingTotalScore" data-title="总分" />
								<input type="hidden" name="lookSingNum" data-title="小题数" />
								<input type="hidden" name="lookSingScore" data-title="小题分数" />
								<input type="hidden" name="lookSingNo" data-title="考试范围" />
							</div>

						</div> 
						<!-- 模态框（Modal） -->
						<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											&times;
										</button>
										<h4 class="modal-title" id="myModalLabel">
											
										</h4>
									</div>
									<div class="modal-body">
										<div class="list-step" data-id="2" >
											<div class="layui-form-item">
												<label class="layui-form-label">总分：</label>
												<div class="layui-input-block">
													<input type="text" name="points" class="layui-input" id="points" />
												</div>
											</div>
	<!-- 										<div class="layui-form-item">
												<label class="layui-form-label">要求：</label>
												<div class="layui-input-block">
													<textarea type="text" name="require" class="layui-textarea" id="require"></textarea>
												</div>
											</div> -->
											<button type="button" class="btn next-btn">下一步</button>
										</div> 
										
										<div class="list-step" data-id="2" style="display:none;">
											<div class="layui-form-item">
												<label class="layui-form-label">小题数：</label>
												<div class="layui-input-block">
													<input type="text" name="num" class="layui-input" id="num" />
												</div>
											</div>
											<div class="layui-form-item" >
												<label class="layui-form-label">小题分数：</label>
												<div class="layui-input-block">
													<input type="text" name="point" class="layui-input" id="point" disabled="disabled" />
													<input type="hidden" name="point" class="layui-input" id="point-hidden"/>
												</div>
											</div>
											<button type="button" class="btn pre-btn">上一步</button>
											<button type="button" class="btn next-btn">下一步</button>
										</div> 
										<div class="list-step" data-id="2" style="display:none;">
											<div class="layui-form-item">
												<label class="layui-form-label">考试范围：</label>
												<div class="layui-input-block" id="lists">
													<script type="text/html" id="idd_js">
														{{each children as value}}
															<ul class="type-lists">
																{{if value.children==null}}
																	<li>
																		<input type="checkbox"  id="{{value.no}}" data-id="{{value.no}}"/>
																		<label for="{{value.no}}">{{value.title}}</label>
																	</li>
																{{/if}}
																{{if value.children!=null}}
																	<li class="item-lists">
																		<span class="glyphicon glyphicon-minus"></span>
																		<label for="{{value.no}}">{{value.title}}</label>
																	</li>
																	{{each value.children as data}}
																		{{include 'list1' data}}
																	{{/each}}
																{{/if}}
															</ul>
														{{/each}}
													</script>
													<script type="text/html" id="list1">
														<ul class="ul-list">
															{{if children!=null}}
																<li class="item-lists">
																	<span class="glyphicon glyphicon-minus"></span>
																	<label for="{{no}}">{{title}}</label>
																	{{each children as data}}
																		{{include 'list1' data}}
																	{{/each}}
																</li>
															{{/if}}
															{{if children==null}}
																<li>
																	<input type="checkbox"  id="{{no}}" data-id="{{no}}" />
																	<label for="{{no}}">{{title}}</label>
																</li>
															{{/if}}
														</ul>
													</script>
												</div>
											</div>
											<button type="button" class="btn pre-btn">上一步</button>
											<button type="button" class="btn submit-btn">完成</button>
										</div>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div>
						<!-- <a class="btn" id="" href="###">提交</a> -->
						<button type="submit" id="exam-btn" class="btn pre-btn" >提交</button>
					    <a th:href ="@{/exam_papers}" class="edit btn">返回</a>		
					</div>
				</form>
			</div>
		</div>
	<script th:src="@{/js/lib/jquery.pagination.js}"></script>
	<script th:src="@{/js/lib/template-web.js}"></script>	
	<script th:src="@{/js/modules/auto.js}"></script>
	</div>
</body>
</html>