<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>考卷管理</title>
</head>
<body>
	<div layout:fragment="content">
		<div class=" pull-left main-content">
			<div class="content-item">
				<p class="title"><a class="goback" title="返回" href="javascript:history.back();" ></a>考卷管理</p>
				<div class="search-form">
					<a th:href="@{/exam_paper/auto}"  class="btn">自动组卷</a>
					<a th:href="@{/exam_paper/exam_paper}"  class="btn">手动组卷</a>
				</div>
				<a id="reason" style="visibility: hidden;" th:text="${unPassReasons}"></a>
				<table class="layui-table" lay-skin="line">
					<colgroup>
						<col width="">
						<col width="">
						<col width="">
						<col width="">
						<col width="">
						<col width="">
					</colgroup>
					<thead>
						<tr>
							<th>试卷名称</th>
							<th>试卷年度</th>
							<th>答题时间</th>
							<th>考卷类型</th>
							<th>审核状态</th>
							<th>驳回原因</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${examPapers!=null}" th:each="examPaper : ${examPapers}" th:data-id="${examPaper.id}">
							<td th:text="${examPaper.title}"></td>
							<td th:text="${examPaper.year}"></td>
							<td th:text="${examPaper.resolvedTime}+'秒'"></td>
							<td th:text="${examPaper.subjectType==1 ? '乐理题考卷':examPaper.subjectType==2 ? '视唱题考卷':'听音题考卷'}"></td>
							<td th:if="${examPaper.checkStatus==null}"></td>
							<td th:if="${examPaper.checkStatus!=null}" th:text ="${examPaper.checkStatus.desc}"></td>
							<td th:if="${examPaper.checkStatus == null || 'PASSED' eq #strings.toString(examPaper.checkStatus) || 'FOR_CHECKED' eq #strings.toString(examPaper.checkStatus)}"></td>
							<td th:if="${'UN_PASSED' eq #strings.toString(examPaper.checkStatus)}" th:text="${examPaper.unPassReason}"></td>
							<td>
								<a class="layui-btn layui-btn-small" th:href="@{'/exam_paper/'+${examPaper.id}}">编辑</a>
								<a class="layui-btn layui-btn-small" th:href="@{'/exam_paper/'+${examPaper.id}+'/set_questions'}">设置考题</a>
								<a class="layui-btn layui-btn-small" th:href="@{'/exam_paper/'+${examPaper.id}+'/set_paper'}">考题编辑</a>
								<a class="layui-btn layui-btn-small preview-a" href="###" data-toggle="present-modal" data-target="reject-modal">考卷预览</a>
								<a class="layui-btn layui-btn-small pass"  th:if="${'FOR_CHECKED' eq #strings.toString(examPaper.checkStatus) || null==examPaper.checkStatus}" href="javascript:void(0)">通过</a>
								<a class="layui-btn layui-btn-small unpass"  th:if="${'FOR_CHECKED' eq #strings.toString(examPaper.checkStatus) || null==examPaper.checkStatus}" href="javascript:void(0)"  data-toggle="modal" data-target="reject-modal">驳回</a>
								<a class="layui-btn layui-btn-small record-btn" >审核记录</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(examPapers)}">
							<td colspan="7" th:text="暂无数据"></td>
						</tr>
					</tbody>
				</table>
					<!-- 驳回（Modal） -->
					<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
									</button>
									<h4 class="modal-title" id="myModalLabel">
										驳回理由
									</h4>
								</div>
								<div class="modal-body">
									<textarea class='layui-textarea' placeholder="请输入驳回理由"></textarea>
									<span class="tip-span">也可以勾选下列驳回理由，可多选</span>
									<div id="reason-body">
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary">确定</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal -->
					</div>
					
				
					<!-- 审核记录（Modal） -->
					<div class="modal fade" id="recordmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" style="width:70%;">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
									</button>
									<h4 class="modal-title" id="myModalLabel">
										审核记录
									</h4>
								</div>
								<div class="modal-body">
								
								<table class="layui-table">
									<thead>
										<tr>
											<th>审核人</th>
											<th>审核人邮箱</th>
											<th>审核状态</th>
											<th>驳回理由</th>
											<th>审核时间</th>
										</tr>
									</thead>
									<tbody id="lists">
										<script type="text/html" id="checkrecords">
											
											{{if checkRecords.length==0}}
											<tr>
												<td colspan="5">无审核记录</td>
											</tr>
											{{/if}}
											{{if checkRecords.length>0}}
											{{each checkRecords as item}}
											<tr>		
												<td>{{item.checkUser.name}}</td>
												<td>{{item.checkUser.email}}</td>
												<td>
													{{if item.status=='PASSED'}}
														通过
													{{/if}}
													{{if item.status=='FOR_CHECKED'}}
														待审核
													{{/if}}
													{{if item.status=='UN_PASSED'}}
														未通过
													{{/if}}
												</td>
												<td>{{item.unPassReason}}</td>
												<td>{{item.checkAt | dateFmt}}</td>
											</tr>
											{{/each}}
											{{/if}}

										</script>
									
									</tbody>
								</table>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal -->
					</div>
					
					
					<div class="modal fade" id="present-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog container" style="width:85%">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
									</button>
				
									<h4 class="modal-title" id="myModalLabel">
										试题预览
									</h4>
								</div>
								<div class="modal-body clearfix" style="background: #e2e2e2;">
									<div class="pull-left present-left">
										<div class="student-msg">
											<p class="msg-title">考生信息</p>
											<img th:src="@{/images/user.jpg}"/>
											<div class="msg">
												<p>考生姓名：****</p>
												<p>准考证号：****</p>
												<p>考试类型：乐理</p>
											</div>
										</div>
										<div class="student-msg">
											<p class="msg-title">考题列表</p>
											<div class="msg left-list" id="msg-lists">
											<div class='type1' style='display:none'>
												<p style="background:#C8C8C8;">单选题</p>
												<div class='glist'>
												</div>
											</div>
											<div class='type2' style='display:none'>
												<p style="background:#C8C8C8;">多选题</p>
												<div class='glist'>
												</div>
											</div>
											<div class='type3' style='display:none'>
												<p style="background:#C8C8C8;">简答题</p>
												<div class='glist'>
												</div>
											</div>
											<div class='type4' style='display:none'>
												<p style="background:#C8C8C8;">视唱题</p>
												<div class='glist'>
												</div>
											</div>
											</div>
										</div>
									</div>
								<div>	
								<div class="pull-left present-right content" id="main-present">
									<script type="text/html" id="present-lists">
									
									<div class="question-type-title present-paper">
										<p>{{exam_title}}</p>
									</div>
									
									<div class="layui-tab present-content"  id="preview-content">
										<div class="layui-tab-content"  id="content">
											{{each questions as item i}}
												<div class="items" data-index="{{i}}">
													<p class="question-title present answers-img">
													
													{{i+1}}.{{item.title}}
													{{if item.staff!==null}}
													<img src="/staff_img?xml_path={{item.staff}}"/>
													{{/if}}
													</p>
													<div class="present">
														<div class="present-question">
															
															{{each item.options as i}}
															{{if i.content!==''}}
															<p>{{i.content}}</p>
															{{/if}}
															{{if i.staff!==''}}
															<p class="answers-img"><input type="radio" class="present-radio" /><img src="/staff_img?xml_path={{i.staff}}"/></p>
															{{/if}}
															{{/each}}

														</div>	
													</div> 
													</div>
													{{/each}}
													<div class="present-question">
														<a href="#" class="back-btn">考试说明</a>
														<a href="#" class="back-btn prev-question">上一题</a>
														<a href="#" class="go-btn next-question">下一题</a>
														<a href="#" class="back-btn pull-right">提交</a>
													</div>
												
											</div>
									</div>

								</script>
								</div>
								</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary">确定</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal -->
					</div>
				<div th:include="page :: pager(${examPapers})" th:remove="tag"></div>
			</div>
		</div>
<script th:src="@{/js/lib/jquery.museum.js}"></script>
<script th:src="@{/js/lib/template-web.js}"></script>
<script th:src="@{/js/modules/papers.js}"></script>	
</div>
</body>
</html>

