<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>考题编辑</title>
</head>
<body>
	<div layout:fragment="content">
		<div class=" pull-left main-content">
		<div class="content-item"  id="content">
			<p class="title"><a class="goback" title="返回" href="javascript:history.back();" ></a>考题编辑</p>
			<div class="content-item scroll-wrap">
				<div class="question-type-title"><p th:text="${examPaper.title}" th:data-id="${examPaper.id}"></p></div>
				<div class="layui-tab layui-tab-card"  id="preview-content">
					<ul class="layui-tab-title">
						<li th:each="question:${questionMap}" class="question-type" th:text="${question.key==1 ? '单选题': question.key==2 ? '多选题':question.key==3 ? '简答题':'视唱题'}"></li>
					</ul>
					<div class="layui-tab-content">
						<div class="layui-tab-item" th:each="question:${questionMap}">
							<p><button class="add-btn layui-btn layui-btn-small"  th:data-id="${question.key}" data-toggle="modal" data-target="#table">添加</button></p>
							<div th:each="q:${question.value}" class="items-list">
								<p class="question-title answers-img" th:data-id="${q.id}">
									<span th:text="${qStat.index+1+'. '+q.title2+'. '+'('+q.difficulty+')'}"></span>
									<img th:if="${q.xmlPath2 != null && null != q.getHasStaff() && q.getHasStaff()}" th:src="@{'/staff_img?xml_path='+${q.xmlPath2}}" title="点击查看大图"/>
									<span class="score">分数：<input type="text" class="layui-input wh50" th:value="${scoreMap['__${q.id}__']}"/></span>
									<button class="del-btn layui-btn layui-btn-small" th:data-id="${q.id}">删除</button>
								</p>
								<div th:each="option:${q.options}" class="option-item">
									<p th:if="${option.content2 != null}" th:text="${option.content2}"></p>
									<p>
										<img th:if="${option.xmlPath2 != null}" th:src="@{'/staff_img?xml_path='+${option.xmlPath2}}"/>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<script th:src="@{/js/lib/jquery.pagination.js}"></script>
				<script th:src="@{/js/modules/preview.js}"></script>
				<script th:src="@{/js/lib/template-web.js}"></script>
				<script th:src="@{/js/lib/jquery.museum.js}"></script>
				<script th:src="@{/js/modules/exam_questions.js}"></script>
				<!-- 模态框（Modal） -->
				<div class="modal fade" id="table" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<form action="" method="post" class="modal-dialog" style="width:60%;height:720px;">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel"></h4>
							</div>
							<div class="modal-body">
								<div class="search-wrap clearfix">
									<button type="button" class="btn pull-right"  id="search-btn">搜索</button>
									<input type="text" name="name" class="layui-input pull-right" />
								</div>
								<table class="layui-table" lay-skin="line">
									<colgroup>
										<col width="80">
										<col width="">
										<col width="150">
										<col>
									</colgroup>
									<thead>
										<tr data-id="checkall">
											<th>选项</th>
											<th>考试题目</th>
											<th>难度系数</th>
										</tr>
									</thead>
									<tbody id="type-list">
										<script type="text/html" id="list">
												{{each questions as item i}}
													<tr data-id={{item.id}}>
														<td><input type="checkbox" /></td>
														<td>{{item.title}}</td>
														<td>{{item.difficulty}}</td>
													</tr>
												{{/each}}
										</script>
									</tbody>
								</table>
								<div id="pagination" class="M-box"></div>
								<div id="hidden">
									<input type="hidden"/>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" id="btn-primary" >确定</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							</div>
						</div><!-- /.modal-content -->
					</form><!-- /.modal -->
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>