<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>考卷管理</title>
</head>
<body>
	<div layout:fragment="content">
		<div class=" pull-left main-content">
			<div class="content-item">
				<p class="title"><a class="goback" title="返回" href="javascript:history.back();" ></a>考卷管理</p>
				<div class="search-form">
					<button type="button" id="lookSingButton" data-id="2" class="btn">视唱考试自动组卷</button>
					<button type="button" id="tingYinButton" data-id="3" class="btn">听音考试自动组卷</button>
					<button type="button" id="yueLiButton" data-id="1" class="btn">乐理考试自动组卷</button>
				</div>
				<table class="layui-table" lay-skin="line">
					<colgroup>
						<col width="">
						<col width="">
						<col width="">
						<col width="">
						<col width="">
						<col width="">
					</colgroup>
					<thead>
						<tr>
							<th>试卷名称</th>
							<th>试卷年度</th>
							<th>题数</th>
							<th>分数</th>
							<th>编辑</th>
							<th>设置考题</th>
						</tr>
					</thead>
					<tbody>
					<tr th:if="${examPapers!=null}" th:each="examPaper : ${examPapers}">
						<td th:text="${examPaper.title}"></td>
						<td th:text="${examPaper.year}"></td>
						<td th:text="${examPaper.questionNum}"></td>
						<td th:text="${examPaper.score}"></td>
						<td><a th:href="@{'/exam_paper/'+${examPaper.id}}">编辑</a></td>
						<td><a th:href="@{'/exam_paper/'+${examPaper.id}+'/set_questions'}">设置考题</a></td>
					</tr>
					<tr th:if="${examPapers==null}">
						<td colspan="6" th:text="暂无数据"></td>
					</tr>
					</tbody>
				</table>
				<div th:include="page :: pager(${examPapers})" th:remove="tag"></div>
			</div>
		</div>
		<script type="text/javascript">
			$(function(){
				$("button").click(function(){
					var subjectType = $(this).attr("data-id");
					var url = "/exam_paper/auto?subject_type=" + subjectType ;
					$.get(url, function(data){
						if(data){
							alert("试卷生成成功！");
							 location.reload();
						}
					});
				});
			});
		</script>
	</div>
</body>
</html>