<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!--<link rel="stylesheet" th:href="@{/css/main.css}" />-->
	<title>答题管理</title>
</head>
<body>
<div layout:fragment="content">
	<div class=" pull-left main-content">
		<div class="content-item">
			<p class="title">答题管理</p>
			<form class="layui-form search-form" action="">
				<div class="layui-form-item">
					<div class="layui-inline" th:if="${session.manager != null}">
						<label class="layui-form-label">练习者姓名：</label>
						<div class="layui-input-inline">
							<input type="tel" name="name" th:value="${name}" lay-verify="name" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">年度：</label>
						<div class="layui-input-inline" id="year_select">
							<select name="year" class="form-control" id="year">
								<option th:each="i:${#numbers.sequence(currentYear-3, currentYear+2)}" th:value="${i}" th:text="${i}"
								        th:selected="${i==year}"></option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">专题：</label>
						<div class="layui-input-inline w180">
							<select name="topic_id" class="form-control" id="topic_id">
								<!-- <option th:if="${topics == null}"></option>  -->
								<option th:each="topic : ${topics}" th:value="${topic.id}" th:text="${topic.title}"
								        th:selected="${topic.id==topicId}"></option>
							</select>
						</div>
					</div>
					<div class="layui-inline input-radio" id="question-types">
						<label class="layui-form-label">题型：</label>					
						<input type="radio" name="question_type" value="1" id="1" title="单选题" th:checked="${1 eq questionType}"/>												
						<input type="radio" name="question_type" value="2" id="2" title="多选题" th:checked="${2 eq questionType}"/>
						<input type="radio" name="question_type" value="3" id="3" title="简答题" th:checked="${3 eq questionType}"/>		
						<input type="radio" name="question_type" value="4" id="4" title="视唱题" th:checked="${4 eq questionType}"/>
					</div>
					<button class="btn">查询</button>
				</div>
			</form>
			<div class="">
				<table class="layui-table" lay-skin="line" id="layerDemo" >
					<colgroup>
						<col width="120" th:if="${session.manager != null}">
						<col width="">
						<col width="">
						<col width="">
						<col th:if="${questionType!=4}" width="210">
						<col th:if="${questionType!=4}" width="210">
						<col th:if="${questionType==4}" width="210">
						<col width="80">
					</colgroup>
					<thead>
						<tr>
							<th th:if="${session.manager != null}">练习者姓名</th>
							<th>专题</th>
							<th>题干</th>
							<th>作答时间</th>
							<th th:if="${questionType!=4}">标准答案</th>
							<th th:if="${questionType!=4}">练习者答案</th>
							<th th:if="${questionType==4}">答案分析</th>
							<th>得分</th>
						</tr>
					</thead>
					<tbody id="content">
					<tr th:if="${!#lists.isEmpty(records)}" th:each="record : ${records}">
						<td th:if="${session.manager != null}" th:text="${record['name']}"></td>
						<td th:text="${record['topic_title']}"></td>
						<td th:text="${record['title']}"></td>
						<td th:text="${#calendars.format(record['createAt'],'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:if="${!#lists.isEmpty(record['standard_options']) && record['is_option_content']}">
							<p th:each="standard_option : ${record['standard_options']}" th:text="${standard_option}"></p>
						</td>
						<td th:if="${#lists.isEmpty(record['standard_options']) && record['is_option_content']!=null && record['is_option_content']}">
						</td>
						<td th:if="${!#lists.isEmpty(record['exerciser_options']) && record['is_option_content']}">
							<p th:each="exerciser_option : ${record['exerciser_options']}" th:text="${exerciser_option}"></p>
						</td>
						<td th:if="${#lists.isEmpty(record['exerciser_options']) && record['is_option_content']!=null && record['is_option_content']}">
						</td>
						<td th:if="${!#lists.isEmpty(record['standard_options_path']) && record['is_option_path']}" th:class="answers-img">
							<img th:each="standard_option : ${record['standard_options_path']}" th:src="@{'/staff_img?xml_path='+${standard_option}}"
							     title="点击查看大图"/>
						</td>
						<td th:if="${#lists.isEmpty(record['standard_options_path']) && record['is_option_path']!=null && record['is_option_path']}"
						    th:class="answers-img">
						</td>
						<td th:if="${!#lists.isEmpty(record['exerciser_options_path']) && record['is_option_path']}" th:class="answers-img">
							<img th:each="exerciser_option : ${record['exerciser_options_path']}"
							     th:src="@{'/staff_img?xml_path='+${exerciser_option}}" title="点击查看大图"/>
						</td>
						<td th:if="${#lists.isEmpty(record['exerciser_options_path']) && record['is_option_path']!=null && record['is_option_path']}"
						    th:class="answers-img"></td>
						<td th:if="${record['standard_answer']!=null && record['is_shortanswer_content']!=null && record['is_shortanswer_content']}"
						    th:text="${record['standard_answer']}"></td>
						<td th:if="${record['standard_answer']==null && record['is_shortanswer_content']!=null && record['is_shortanswer_content']}"></td>
						<td th:if="${record['exerciser_answer']!=null && record['is_shortanswer_content']!=null && record['is_shortanswer_content']}"
						    th:text="${record['exerciser_answer']}"></td>
						<td th:if="${record['exerciser_answer']==null && record['is_shortanswer_content']!=null && record['is_shortanswer_content']}"></td>
						<td th:if="${record['standard_path']!=null && record['is_shortanswer_path']!=null && record['is_shortanswer_path']}"
						    th:class="answers-img"><img th:src="@{'/staff_img?xml_path='+${record['standard_path']}}" title="点击查看大图"/></td>
						<td th:if="${record['standard_path']==null && record['is_shortanswer_path']!=null && record['is_shortanswer_path']}"
						    th:class="answers-img"></td>
						<td th:if="${record['exerciser_path']!=null && record['is_shortanswer_path']!=null && record['is_shortanswer_path']}"
						    th:class="answers-img"><img th:src="@{'/staff_img?xml_path='+${record['exerciser_path']}}" title="点击查看大图"/></td>
						<td th:if="${record['exerciser_path']==null && record['is_shortanswer_path']!=null && record['is_shortanswer_path']}"
						    th:class="answers-img"></td>
						<td th:if="${questionType==4}">
							<a class="lookSingAudio" style=display:none th:data-id="${record.lookSingAudio}"></a>
							<button data-method="confirmTrans" class="layui-btn layui-btn-small curr-btn" th:data-name="${record['name']}"th:data-id="'/looksing_data?record_id='+${record[record_id]}">答案分析</button>
							<button data-method="offset" data-type="auto" class="layui-btn layui-btn-small cav-btn" th:data-name="${record['name']}"th:data-id="'/curve_data?record_id='+${record[record_id]}">音高分析</button>
						</td>
						<td th:text="${record['score']}"></td>
					</tr>
					<tr th:if="${#lists.isEmpty(records)}">
						<td th:if="${questionType != 4}" colspan="6">暂无数据</td>
						<td th:if="${questionType == 4}" colspan="5">暂无数据</td>
					</tr>
					</tbody>
				</table>

							<div class="modal-body clearfix dn" id="modal" >
								<div class="layui-tab">
									<ul class="layui-tab-title">
										<li class="layui-this" id="table-li">表格显示</li>
										<li id="charts-li">图形显示</li>
									</ul>
									<div class="layui-tab-content" id="modal-table">
										<div class="table-view layui-tab-item layui-show">
											<div class="table-left">标准音乐</div>
											<div class="table-right">视唱音乐</div>
											<table class="layui-table  table-left" lay-skin="line">
												<thead>
												<tr>
													<th>音高</th>
													<th width="150">真实频率/相对频率</th>
													<th>音长</th>
												</tr>
												</thead>
												<tbody id="standard-answer">
											
												</tbody>
											</table>
											<table class="layui-table table-right" lay-skin="line">
												<thead>
												<tr>
													<th>音高</th>
													<th>矫正值</th>
													<th>频率</th>
													<th>音长</th>
													<th>音高评比</th>
													<th>音长评比</th>
												</tr>
												</thead>
												<tbody id="answer-table">

												</tbody>
											</table>
											<div class="cardinal">
												
											</div>
										</div>
											<script type="text/html" id="standard-lists">
													{{each SourceMusic as sa}}
													<tr data-key={{sa.Key}} data-id={{sa.Id}}>
														<td>{{sa.NoteName}}</td>
														<td>{{sa.PitchToFreq}}/{{sa.VirtualFreq}}</td>
														<td>{{sa.NoteLength}}</td>
													</tr>
													{{/each}}
												</script>
											<script type="text/html" id="studentanswer-lists">
													{{each VoiceMusic as V i}}
													{{if V.SequenceNo==i}}
														{{if V.NoteIsTrue==false}}
														<tr class="anerror" data-key={{V.Key}} data-id={{V.Id}}>
														{{/if}}
													
														{{if V.NoteIsTrue==true}}
														<tr data-key={{V.Key}} data-id={{V.Id}}>
														{{/if}}
														<td data-key={{V.Key}} data-id={{V.Id}}>{{V.NoteName}}</td>
														<td>{{V.RectifyNote}}</td>
														<td>{{V.PitchToFreq}}</td>
														<td>{{V.NoteLength}}</td>
														{{if V.NoteIsTrue==true}}
														<td><span class="answer-right"></span></td>
														{{/if}}
														{{if V.NoteIsTrue==false}}
														<td><span class="answer-error"></span></td>
														{{/if}}
														{{if V.NoteIsTrue==null}}
														<td></td>
														{{/if}}
														{{if V.LengthIsTrue==false}}
														<td><span class="answer-error"></span></td>
														{{/if}}
														{{if V.LengthIsTrue==true}}
														<td><span class="answer-right"></span></td>
														{{/if}}
														{{if V.LengthIsTrue==null}}
														<td></td>
														{{/if}}
													</tr>
													{{/if}}
													{{if V.SequenceNo!==i}}
													<tr data-key={{V.Key}}>
														<td colspan="6" style="height:39px;"></td>
													</tr>
													{{/if}}
													{{/each}}


												</script>
												<script type="text/html" id="cardinal-list">
													<p><span>标准速度：</span><span class="list-text">{{SampleSpeed}}Bpm</span></p>
													<p><span>视唱速度：</span><span class="list-text">{{VoiceSpeed}}Bpm</span></p>
													<p><span>音符总数：</span><span class="list-text">{{NoteCount }}</span></p>
													<p><span>音高正确数：</span><span class="list-text">{{NoteNo}}</span></p>
													<p><span>音长正确数：</span><span class="list-text">{{LengthNo}}</span></p>
													<p><span>音准正确数：</span><span class="list-text">{{TrueNo}}</span></p>
													<p><span>准确率：</span><span class="list-text">{{(Accuracy*100).toFixed(2)+"%"}}</span></p>
												</script>
										<div class="layui-tab-item charts-view">
											<div id="tag">
											</div>
											<div class="tag-p">
												<p><span></span>标准旋律</p>
												<p><span></span>视唱旋律</p>
												<p><span></span>音高错误</p>
												<p><span></span>唱漏音高</p>
												<p><span></span>音长错误</p>
												<p><input type="checkbox" id="note" checked="checked"><label for="note">显示音符</label></p>
												<p><input type="checkbox" id="pitch-num" checked="checked"/><label for="pitch-num">矫正音高</label></p>
											</div>
											<div class="charts-wrap" id="dot-wrap">

												<div class="charts">
													
													<div class="scroll-x">
														<!-- <ul class="x-time"></ul> -->
														<ul class="x-time-text"></ul>
													</div>
													<div class="scroll-y">
														<ul class="charts-name-text"></ul>
														<ul class="x-time"></ul>
														<ul class="charts-name"></ul>
													</div>
												</div>
											</div>
											<div class="cardinal">
											</div>
										</div>
									</div>

								</div>
							</div>

						<div class="modal-body clearfix dn" id="pitch">
							<p class="player-wrap"></p>
							<div class="over">
								<ul class="x-time-text"></ul>
								<div style="margin-bottom:-10px;border:1px solid red;">
								<ul class="charts-name-text"></ul>
								</div>
								<div class="pitch-wrap" id="chart-wrap">
									
									<div class="charts" id="pitch-charts-wrap">
										<!-- <ul class="x-time-text"></ul> -->
										<ul class="charts-name"></ul>
										
										
										<div class="scroll-div">
											
											<ul class="x-time" id="canvas-wrap"></ul>
											<ul class="x-time" id="charts-line"></ul>
										</div>
					
									</div>
								</div>
								<div class="music"></div>
							</div>
						</div>
					<script th:src="@{/js/lib/template-web.js}"></script>
					<script th:src="@{/js/lib/jquery.museum.js}"></script>		
					<script th:src="@{/js/lib/echarts.min.js}"></script>
					<script th:src="@{/js/modules/answer.js}"></script>
					<script th:src="@{/js/modules/canvas.js}"></script>
			</div>
			<div th:if="${topicId!=null}" th:include="page :: pager(${records})" th:remove="tag"></div>
		</div>
	</div>
</div>
</body>
</html>