<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout charset="UTF-8" pattern="[%-5p] %d %c - %m%n" />
		</Console>
		<File name="File" fileName="e:/dd-yinyue-log/music_exercise/music_exercise.log" append="false">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</File>
		<RollingFile name="RollingFile" fileName="e:/dd-yinyue-log/music_exercise/logs/music_exercise.log"
			filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="50MB" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
			<AppenderRef ref="RollingFile" />
		</root>
	</Loggers>
</configuration>